name: Build NewPipeCLI

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'
          components: 'native-image'

      - name: Install UPX
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            sudo apt-get update && sudo apt-get install -y upx-ucl
          elif [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            choco install upx -y
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            brew install upx
          fi

      - name: Build native executable
        run: ./gradlew clean nativeCompile

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: newpipecli-${{ matrix.os }}
          path: |
            build/distributions/NewPipeCLI.zip
